%h1 Listing teams

%table
  %tr
    %th Name
    -if current_user
      %th Survey
    %th Active
    %th Projects
    %th Team Members
    -if current_user and current_user.admin?
      %th

  - @teams.each do |team|
    %tr
      %td= team.name
      -if current_user
        %td
          =raw(r_y_g(team.survey_average)) if team.active?
      %td= team.active? ? raw('<span class="label success">Yes</span>') : raw('<span class="label important">No</span>')
      %td= team.projects.size
      %td= team.users.size
      -if current_user and current_user.admin?
        %td 
          =link_to 'Show', team
          =link_to 'Edit', edit_team_path(team)
          =link_to 'Destroy', team, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Team', new_team_path
