= form_for @profile do |f|
  -if @profile.errors.any?
    #error_explanation
      %h2= "#{pluralize(@profile.errors.count, "error")} prohibited this profile from being saved:"
      %ul
        - @profile.errors.full_messages.each do |msg|
          %li= msg
  .fieldset
    .legend
    .clearfix
      = f.label :name
      .input
        = f.text_field :name
    .clearfix
      = f.label :bio
      .input
        = f.text_area :bio
    .clearfix
      = f.label "Type"
      .input
        =f.select(:user_type, ["Fellow","Staff","City" ])
      .clearfix
        =f.label :password
        .input
          =text_field_tag :password
    .actions
      = f.submit 'Save', {:class => "btn primary"}
