%h1 Fellows

%table
  %tr
    %th Name
    %th Email
    %th Bio
    %th
    %th
    %th

  - @profiles.each do |profile|
    %tr
      %td= profile.name
      %td= profile.user.email
      %td= profile.bio
      %td= link_to 'Show', profile
      %td= link_to 'Edit', edit_profile_path(profile) if (current_user.try(:profile) == profile or current_user.try(:admin?))
      %td= link_to 'Destroy', profile, :confirm => 'Are you sure?', :method => :delete if current_user.try(:admin?)

%br

