%p#notice= notice

%p
  = gravatar_image_tag(@profile.user.email)
%p
  %b User:
  = @profile.user_id
%p
  %b Name:
  = @profile.name
%p
  %b Bio:
  = @profile.bio

= link_to 'Edit', edit_profile_path(@profile) if (current_user.try(:profile) == @profile or current_user.try(:admin?))
\|
= link_to 'Back', profiles_path
