=render :partial => "charts"
.row
  .span6
    %div{:id=>"pie_div"}
    -if ProjectMilestone.count > 0
      %div{:id=>"project_chart_div"}
  .span6
    %div{:id=>"chart_div"}
    %div{:id=>"network_div"}
- if current_user
  .row.new_section
    .span12.stats
      -if current_user
        %h2 Survey Trends
        %ul
          -Survey.order("created_at DESC").each do |survey|
            %li
              =survey.name
              =render :partial => "surveys/survey_trend", :locals => {:trends => survey.survey_responses.trends_by_response(num=4)}
              .clearfix
.row.new_section
  .span3.stats
    %h2 2012 CFA Stats
    %ul
      %li.arrows
        =link_to "#{@fellows.size} Fellows", profiles_path
      %li.arrows
        =link_to "#{@projects.size} Projects", projects_path
      %li.arrows
        =link_to "#{@teams.size} Cities", teams_path
      %li.arrows
        =link_to "#{@network_size.inject(0) {|sum, x| sum + x[0]}} network size", teams_path
      %li.arrows
        =link_to "#{number_to_percentage(@network_size.inject(0) {|sum, x| sum + x[1]}/@network_size.size, :precision => 2)} network growth", teams_path
      %li.arrows
        =link_to "#{@events.size} events attended"
  .span3.stats
    %h2 Recent Projects
    %ul
      -@projects[0..10].each do |project|
        %li.arrows
          =link_to project.name, "/projects/#{project.name}"
  .span6.stats
    %h2 Network Growth
    %ul
      .row
        .span8
          %div{:id=>"network_pie_div"}
      .row
        .span4
          City
        .span1
          \%
        .span1
          New
        .span1
          Current
      -Team.network_growth.sort { |x,y| x[1][1] <=> y[1][1]}.reverse.each do |team|
        %li.arrows
          .row
            .span3
              =link_to "#{team.first.name}"
            .span1
              =number_to_percentage(team[1][1], :precision => 2)
            .span1
              =team[1][2]
            .span1
              =team[1][0]







