%p#notice= notice

%p
  %b Team:
  = @event.team.name
%p
  %b Name:
  = @event.name
%p
  %b Attendance:
  = @event.attendance
%p
  %b Event Date:
  = @event.event_date.strftime('%m/%d/%y')
%p
  %b Url:
  =link_to @event.url, @event.url
%p
  %b Description:
  = @event.description

-if current_user
  = link_to 'Edit', edit_event_path(@event)
  \|
  = link_to 'Back', events_path
