= nested_form_for @project do |f|
  -if @project.errors.any?
    #error_explanation
      %h2= "#{pluralize(@project.errors.count, "error")} prohibited this project from being saved:"
      %ul
        - @project.errors.full_messages.each do |msg|
          %li= msg
  .clearfix
    = f.label :name
    .input
      = f.text_field :name
  .clearfix
    = f.label :description
    .input
      = f.text_area :description
  .clearfix
    = f.label :impact_statement
    .input
      = f.text_area :impact_statement
  .clearfix
    = f.label :tag_list
    .input
      = f.text_field :tag_list
  .clearfix
    = f.label :active
    .input
      = f.check_box :active
  - if !@project.new_record?
    %h2 Project Links
    =f.link_to_add "Add Link",:links
    %p
    =f.fields_for :links do |link|
      = link.text_field :name
      = link.text_field :url
      = link.select(:link_type_id, LinkType.all.collect {|p| [ p.name, p.id ] }, {:include_blank => false})
      = link.link_to_remove "Remove"
    %h2
      Project Milestones
    =f.link_to_add "Add Milestone",:project_milestones
    %p
    %table
      %thead
        %tr
          %td="Milestone"
          %td="Planned date"
          %td="Completed On"
          %td="Active"
          %td    
      %tbody
        =f.fields_for :project_milestones do |pm|
          %tr
            %td=pm.select(:milestone_id, Milestone.all.collect { |p| [p.name, p.id]}, {:include_blank => false})

            %td=pm.text_field :planned_date, :class => "datepicker", :value => (pm.object.planned_date.strftime("%Y-%m-%d") unless pm.object.planned_date.nil?)
            %td=pm.text_field :completed_date, :class => "datepicker", :value => (pm.object.completed_date.strftime("%Y-%m-%d") unless pm.object.completed_date.nil?)
            %td= pm.check_box("active")
            %td= pm.link_to_remove "Remove"
    %h2
      Project Members
    = f.link_to_add "Add Member",:project_users
    %p  
    =f.fields_for :project_users do |u|
      = u.select(:user_id, User.all.collect { |p| [p.profile.name, p.id]}, {:include_blank => false})
      = u.link_to_remove "Remove"
    %h2
      Cities
    = f.link_to_add "Add City",:team_projects
    %p  
    =f.fields_for :team_projects do |u|
      = u.select(:team_id, Team.all.collect { |p| [p.name, p.id]}, {:include_blank => false})
      = u.link_to_remove "Remove"
    %h2
      Sponsors
    = f.link_to_add "Add Sponsor",:project_sponsors
    %p  
    =f.fields_for :project_sponsors do |u|
      = u.select(:sponsor_id, Sponsor.all.collect { |p| [p.name + " - " + p.identity, p.id]}, {:include_blank => false})
      = u.link_to_remove "Remove"
  .actions
    = f.submit 'Save',{:class => "btn primary"}
