%tr
  %td= link_to project.name, project
  %td= project.tag_list
  %td
    %ul
      -project.teams.each do |team|
        %li
          =link_to team.name, team_path(team)
  -if current_user
    %td
      =raw(r_y_g(project.survey_average)) if project.active?
  %td= project.active? ? raw('<span class="label label-success">Yes</span>') : raw('<span class="label label-important">No</span>')
  %td
    -active_milestones = project.project_milestones.where(:active => true)
    -if active_milestones.present?
      =active_milestones.first.milestone.name
  %td
    %div.bar_graph
      -if active_milestones.present?
        %div{:class => "size_#{active_milestones.first.milestone_id} #{on_schedule(active_milestones.first)}"}
  %td
    -if project.project_milestones.present?
      =project.updated_at.strftime("%m-%d-%Y")
  -if current_user
    %td
      = link_to 'Edit', edit_project_path(project)
      |
      =link_to 'Destroy', project, :confirm => 'Are you sure?', :method => :delete
