%h1 
  ="Projects (#{@projects.size})"

=render "charts"
=form_for @search do |f| 
  %table
    %tr
      %th Name
      %th Team
      %th Active
      %th Milestone
      %th Progress
      %th Started Date
      %th Last Updated
      %th
        
    %tr
      %td
        = f.text_field :name_contains,:class=>"search_medium"
      %td
        = f.text_field :teams_name_contains, :class => "search_medium"  
      %td
        = f.check_box :active_equals, :checked => true
      %td
        = f.select "project_milestones_milestone_id_equals", Milestone.all.collect { |m| [m.name, m.id]}, {:include_blank => true}
      %td
      %td
      %td
      %td
        =f.submit "Submit", :value=>"Search", :class=>"softButton"
        =link_to "Clear", projects_path
    - @projects.each do |project|
      %tr
        %td= link_to project.name, project
        %td
          %ul
            -project.teams.each do |team|
              %li
                =link_to team.name, team_path(team)
        %td= project.active? ? raw('<span class="label success">Yes</span>') : raw('<span class="label important">No</span>')
        %td
          =project.project_milestones.where(:active => true).first.milestone.name
        %td
          %div.bar_graph
            %div{:class => "size_#{project.project_milestones.where(:active => true).first.milestone.id}"}
        %td
          =project.created_at.strftime("%m-%d-%Y")
        %td
          =project.project_milestones.order("updated_at DESC").first.updated_at.strftime("%m-%d-%Y")
        -if current_user
          %td
            = link_to 'Edit', edit_project_path(project)
            |
            =link_to 'Destroy', project, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Project', new_project_path
