%p#notice= notice

%h1
  = @project.name

%p
  %b Description:
  = @project.description
%p
  %b Impact statement:
  = @project.impact_statement
%p
  %b Active:
  = @project.active? ? 'Yes' : 'No'

= link_to 'Edit', edit_project_path(@project)
\|
= link_to 'Back', projects_path
