%p#notice= notice

%h1
  = @project.name

%p
  %b Description:
  = @project.description
%p
  %b Impact statement:
  = @project.impact_statement

%p
  %b Tags:
  =@project.tag_list

%p
  %b Teams:
  %ul
    -@project.teams.each do |team|
      %li
        =link_to team.name, team_path(team)      
%p 
  %b Team Members
  %ul
    -@project.users.each do |u|
      %li
        =link_to u.profile.name, u.profile
%p
  %b Active:
  = @project.active
%h2 Milestones

%ul
  -@project.project_milestones.each do |milestone|
    %li{:class => "#{milestone.active? ? 'active' : 'inactive'}"}
      %span.name
        =milestone.milestone.name 
      %br
      -if milestone.completed_date? 
        %span.completed
          Completed On
          =milestone.completed_date.strftime("%m-%d-%y")
      -else
        %span.planned
          Planned
          =milestone.planned_date.strftime("%m-%d-%y")

%h2 Links
%ul
  -@project.links.each do |link|
    %li
      =link.name + ":"
      =link_to link.url
      ="(#{link.link_type.name})"

-if current_user and current_user.admin?
  %h2 Surveys
  %table
    %tr
      %th Date
      %th Survey
      %th Value
      %th Name
      %th Comments
      -@project.survey_responses.order("updated_at DESC").each do |sr|
        %tr
          %td=sr.updated_at.strftime("%m/%d/%y")
          %td=survey_name(sr)
          %td=raw(r_y_g(sr.response))
          %td=link_to sr.user.profile.name, sr.user.profile
          %td=sr.note
%h2 Activity
%ul
  -@project.activities.order("updated_at DESC").each do |activity|
    %li
      =raw(activity.activity)

= link_to 'Edit', edit_project_path(@project)
\|
= link_to 'Back', projects_path
