
%p#notice= notice
.row
  .span12
    %h2=@project.name
    = link_to 'Edit', edit_project_path(@project) if current_user
.row
  .span6.stats
    -if current_user
      %h2 Survey Trends
      =render :partial => "surveys/survey_trend", :locals => {:trends => @project.survey_responses.trends_by_response}
    .clearfix
    %h2 Cities
    %ul
      %li
        -@project.teams.each do |team|
          -if team==@project.teams.last
            =raw(team.to_url)
          -else
            =raw(team.to_url) + ", "
    %h2 Team Members
    %ul.team_members
      -@project.users.each do |user|
        %li
          =link_to gravatar_image_tag(user.email, :alt => user.profile.name), user.profile
          %br
          =link_to user.profile.name, user.profile
    .clearfix
    %h2 Sponsors
    %ul.team_members
      -@project.sponsors.each do |sponor|
        %li
          =link_to gravatar_image_tag(sponor.email)
          %br
          =link_to sponor.name, "http://" + sponor.link
    .clearfix
    %h2 Links
    %ul
      -@project.links.each do |link|
        %li
          =link.name + ":"
          =link_to link.url
          ="(#{link.link_type.name})"
  .span6.stats
    %h2 Details
    %ul
      %li
        %b Description:
        =@project.description
      %li
        %b Impact:
        =@project.impact_statement
      %li
        %b Tags:
        =@project.tag_list
    %h2 Milestones
    -active_milestone = @project.project_milestones.where(:active => true)
    %ul
      %li
        %div.bar_graph
          -if !active_milestone.blank?
            %div{:class => "size_#{active_milestone.first.milestone.id} #{on_schedule(active_milestone.first)}"}
      -@project.project_milestones.each do |milestone|
        %li.milestone{:class => "#{milestone.active? ? 'active' : 'inactive'}"}
          %span.name
            =milestone.milestone.name
          %br
          -if milestone.completed_date?
            %span.completed
              Completed On
              =milestone.completed_date.strftime("%m-%d-%y")
          -else
            %span.planned
              Planned Completion On:
              =milestone.planned_date.strftime("%m-%d-%y")


.tabbable
  %ul.nav.nav-tabs
    %li.active
      %a{:href=>"#1", 'data-toggle' => 'tab'} Comment Stream
    %li
      %a{:href=>"#2", 'data-toggle' => 'tab'} Stories
    %li
      %a{:href=>"#3", 'data-toggle' => 'tab'} Activity
    %li
      %a{:href=>"#4", 'data-toggle' => 'tab'} Pivotal Tracker Activity
    %li
      %a{:href=>"#5", 'data-toggle' => 'tab'} Github Activity
    - if current_user and current_user.admin?
      %li
        %a{:href=>"#6", 'data-toggle' => 'tab'} Surveys
  .tab-content
    .tab-pane.active#1
      %ul
      - @project.survey_responses.taken.order("updated_at DESC").each do |comment|
        %li=comment.note unless comment.note.nil?
    .tab-pane#2
      %ul
        -@project.stories.each do |story|
          %li
            =story.team.name + ": " if story.team
            =story.project.name + ": " if story.project
            story.story
    .tab-pane#3
      %ul
        -@project.activities.order("updated_at DESC").each do |activity|
          %li
            =raw(activity.activity)
    .tab-pane#4
      Coming soon!
    .tab-pane#5
      Coming soon!
    - if current_user and current_user.admin?
      .tab-pane{:id => "surveys"}
        %table
          %tr
            %th Date
            %th Survey
            %th Value
            %th Name
            %th Comments
            - @project.survey_responses.order("updated_at DESC").each do |sr|
              %tr
                %td=sr.updated_at.strftime("%m/%d/%y")
                %td=survey_name(sr)
                %td=raw(r_y_g(sr.response))
                %td=link_to sr.user.profile.name, sr.user.profile
                %td=sr.note

