%p#notice= notice

%h1
  = @project.name

%p
  %b Description:
  = @project.description
%p
  %b Impact statement:
  = @project.impact_statement
%p
  %b Teams:
  %ul
    -@project.teams.each do |team|
      %li
        =link_to team.name, team_path(team)      
%p
  %b Active:
  = @project.active
%h2 Milestones

%ul
  -@project.milestones.each do |milestone|
    %li
      =milestone.name

%h2 Links
%ul
  -@project.links.each do |link|
    %li
      =link_to link.name, link.url

= link_to 'Edit', edit_project_path(@project)
\|
= link_to 'Back', projects_path
