= form_for @story do |f|
  -if @story.errors.any?
    #error_explanation
      %h2= "#{pluralize(@story.errors.count, "error")} prohibited this story from being saved:"
      %ul
        - @story.errors.full_messages.each do |msg|
          %li= msg
  .clearfix
    = f.label :project_id
    .input
      = f.select(:project_id, Project.all.map {|x| [x.name, x.id]}, :include_blank => true)
  .clearfix
    = f.label :team_id
    .input
      = f.select(:team_id, Team.all.map {|x| [x.name, x.id]}, :include_blank => true)
  .clearfix
    = f.label :story
    .input
      = f.text_area :story
  .actions
    = f.submit 'Save'
