%h1 Code for America 2012 Stories
= link_to 'New Story', new_story_path if current_user
%table
  %tr
    %th Submitted by
    %th Project
    %th Team
    %th Story
    %th

  - @stories.each do |story|
    %tr
      %td= link_to story.user.name, story.user.profile
      %td
        = link_to story.project.name, story.project if story.project
      %td
        = link_to story.team.name, story.team if story.team
      %td= story.story
      %td
        = link_to 'Show', story
        -if current_user
          = link_to 'Edit', edit_story_path(story)
          = link_to 'Destroy', story, :confirm => 'Are you sure?', :method => :delete


