= form_for @survey do |f|
  -if @survey.errors.any?
    #error_explanation
      %h2= "#{pluralize(@survey.errors.count, "error")} prohibited this survey from being saved:"
      %ul
        - @survey.errors.full_messages.each do |msg|
          %li= msg

  .clearfix
    = f.label "Survey Question:"
    .input
      = f.text_field :name
      %span.help-block
        This will appear on the survey response page
  .clearfix
    = f.label :survey_type
    .input
      = select(:survey, :survey_type, ["Fellow","Team","Project","Client","Staff"])
      %span.help-block
        Who or What is this survey about. I.e. Choose 'Fellow' if its about a fellow 
  .clearfix
    = f.label :scale
    .input
      = f.text_field :scale, :value => 3
      %span.help-block
        Enter an integer like 6 for a scale of 0 to 6.
  .clearfix
    = f.label :start_date
    .input
      = f.text_field :start_date, :class => "datepicker"
  .clearfix
    = f.label :end_date
    .input
      = f.text_field :end_date, :class => "datepicker"
  .clearfix
    = f.label :frequency
    .input
      = select(:survey, :frequency, [["1.weeks",1], ["2.weeks",2], ["3.weeks",3],["4.weeks",4],["5.weeks",5],["6.weeks",6],["7.weeks",7],["8.weeks",8]])
      %span.help-block
        The survey will get deployed every X numbers of weeks from the start date
  .actions
    = f.submit 'Save'
