%h1 Surveys

%table
  %tr
    %th Name
    %th Survey type
    %th Start date
    %th End date
    %th Frequency
    %th

  - @surveys.each do |survey|
    %tr
      %td
        =link_to survey.name, survey
        %br
        =render :partial => "survey_trend", :locals => {:trends => survey.survey_responses.trending}
      %td= survey.survey_type
      %td= survey.start_date.strftime("%m/%d/%y")
      %td= survey.end_date.strftime("%m/%d/%y")
      %td
        ="#{survey.frequency} weeks"
      %td
        = link_to 'Edit', edit_survey_path(survey)
        = link_to 'Destroy', survey, :confirm => 'Are you sure?', :method => :delete
%br

= link_to 'New Survey', new_survey_path
