%h1 
  This Week's Surveys:


-@surveys.each do |survey|
  =form_for(survey, :remote => true) do |f|
    %h3
      =survey.survey.name
    .row
      .span2{:class => "trafficlight red #{'on' if survey.response==0}", :data => survey.id}
      .span2{:class => "trafficlight yellow #{'on' if survey.response==1}", :data => survey.id}
      .span2{:class => "trafficlight green #{'on' if survey.response==2}", :data => survey.id}
      .span6
        =f.text_area :note, :id => "#{survey.id}_note", :class => "note"
        %span{:class=>"help-block"}
          Any notes or feedback you want to share?
        =f.hidden_field :response, :id => "#{survey.id}_response"
      .span2
        =f.submit "Save"
