.row
  .span8
    %h1 
      This Week's Surveys:
.row.event
  .span16
            
.row.story
  .span8
    =link_to "Add a New Story", "#", :class =>"new_story"
    =form_for(Story.new, :remote=> true) do |f|
      .row
        .span4
          = f.label :project_id
          = f.select(:project_id, Project.all.map {|x| [x.name, x.id]}, :include_blank => true)
        .span4
          = f.label :team_id
          = f.select(:team_id, Team.all.map {|x| [x.name, x.id]}, :include_blank => true)
      .row
        .span8
          = f.text_area :story
      =f.submit "Save"
      =link_to "Hide", "#", :class => "hide_story"
  .span8
    =link_to "Add a New Event", "#", :class => "new_event"
    =form_for(Event.new, :remote=> true) do |f|
      .row
        .span4
          = f.label :team_id
          = f.select(:team_id, Team.all.map {|x| [x.name, x.id]}, :include_blank => true)
          = f.label :event_date
          = f.text_field :event_date, :class => "datepicker"
        .span4
          = f.label :name
          = f.text_field :name
          = f.label :attendance
          = f.text_field :attendance
          =f.label :url
          = f.text_field :url
      .row
        .span8
          =f.label :description
          = f.text_area :description
      =f.submit "Save"
      =link_to "Hide", "#", :class => "hide_event"

-@surveys.each do |survey|
  .row
    .span16
  =form_for(survey, :remote => true) do |f|
    %h3
      =survey.updated_at.strftime('%m/%d/%y')
      =survey_name(survey)
    .row
      .span2{:class => "trafficlight red #{'on' if survey.response==1}", :data => survey.id}
      .span2{:class => "trafficlight yellow #{'on' if survey.response==2}", :data => survey.id}
      .span2{:class => "trafficlight green #{'on' if survey.response==3}", :data => survey.id}
      .span6
        =f.text_area :note, :id => "#{survey.id}_note", :class => "note"
        %span{:class=>"help-block"}
          Any notes or feedback you want to share?
        =f.hidden_field :response, :id => "#{survey.id}_response"
      .span2
        =f.submit "Save"
