<!DOCTYPE html>
%html
  %head
    %title Intersection
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    .container 
      .div{:class => 'row', :id=> "top_header"}
        .span-one-third
          =link_to(image_tag("cfa-full-logo.png"), root_url)
        .span-one-third 
          %h1 Intersection
          %h2 Project Dashboard
        .span-one-third
          -if current_user
            .gravatar
              =gravatar_image_tag(current_user.email, :alt => current_user.profile.name)
            .profile
              %h2 
                Welcome Dan
              .links
                = link_to('Logout', destroy_user_session_path, :method => :delete)
                |
                = link_to('Profile', edit_profile_path(current_user.profile))
      .div{:class => 'row '}
        .span16
          %ul#nav.menu
            %li
              = link_to 'Home', root_path
            %li
              = link_to 'Teams', '#'
            %li
              = link_to 'Projects', projects_path
            %li
              = link_to 'Fellows', profiles_path
            %li
              - if !user_signed_in?
                = link_to('Login', new_user_session_path)
            %li
              -if current_user and current_user.admin?
                = link_to 'Admin', rails_admin_path
      .div{:class => 'row '}
        .span16 
          - if flash[:notice]
            .div{:class => 'alert-message success fade in', 'data-alert' => 'alert'}
              %a.close{:href => '#'} x
              %p
                %strong
                  = notice
          - if flash[:alert]
            .div{:class => 'alert-message info fade in', 'data-alert' => 'alert'}
              %a.close{:href => '#'} x
              %p
                %strong
                  = alert
      .div{:class => 'row '}
      = yield
