<!DOCTYPE html>
%html
  %head
    %title Intersection
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body{:style => 'padding-top: 40px;'}
    .container
      .div{:class => 'row', :id=> "top_header"}
        .span-one-third
          =link_to(image_tag("cfa-full-logo.png"), root_url)
        .span-one-third
          %h1 Intersection
        .span-one-third
          -if current_user
            .gravatar
              =gravatar_image_tag(current_user.email, :alt => current_user.profile.name)
            .profile
              %h2
                = "Welcome #{current_user.profile.name}"
              .links
                = link_to('Logout', destroy_user_session_path, :method => :delete)
                |
                = link_to('Profile', profile_path(current_user.profile))
                -if current_user.admin?
                  |
                  =link_to "Admin", rails_admin_path
      .row
        .span16
          %ul#nav.menu
            %li
              = link_to 'Home', root_path
            %li
              = link_to 'Cities', teams_path, :class => "cities"
            %li
              = link_to 'Projects', projects_path
            %li
              = link_to 'Fellows', profiles_path
            %li
              = link_to 'Events', events_path
            %li
              = link_to 'Stories', stories_path
            -if current_user
              %li
                = link_to "My Surveys", "/my_surveys"
            - if !user_signed_in?
              %li
                = link_to('Login', new_user_session_path)
            -if current_user.try(:admin?)
              %li
                = link_to 'Surveys', surveys_path
          %ul.submenu.clearfix
            -Team.order("name").each do |team|
              %li
                =link_to team.name, "/teams/#{team.name}"
      .row
        .span16
          %p
      .row
        .span16.flashes
          - if flash[:notice]
            .div{:class => 'alert-message success fade in', 'data-alert' => 'alert'}
              %a.close{:href => '#'} x
              %p
                %strong
                  = notice
          - if flash[:alert]
            .div{:class => 'alert-message info fade in', 'data-alert' => 'alert'}
              %a.close{:href => '#'} x
              %p
                %strong
                  = alert
      .row
      = yield
